# ==============================================================================
# Ruby & Bundler
# ==============================================================================
/.bundle/
/vendor/bundle/
/lib/bundler/man/

# ==============================================================================
# Logs & Temp Files
# ==============================================================================
/log/*.log
/tmp/
*.swp
*~
.DS_Store

# ==============================================================================
# Testing & Coverage
# ==============================================================================
/coverage/
/spec/reports/
/.rspec_status

# ==============================================================================
# Environment & Secrets (Garantindo Zero Hardcode)
# ==============================================================================
.env
.env.*
!.env.example

# ==============================================================================
# IDEs & Editors
# ==============================================================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==============================================================================
# Kustomize / Build Artifacts
# ==============================================================================
k8s/deployment.yaml
!k8s/deployment.yaml.template